*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(147, 60, 228);
    color: rgb(249, 33, 84);
    height: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

nav ul{
    list-style-type: disc;
}
.gameContainer{
    background-color: rgb(139, 227, 217);
    display: flex;
    margin:auto
}